<form action="selection" method="post">
    <div class="top-nav">
        <img src="" alt="safer-bookings-img" class="logo">
        <a href="#admin">Admin/Safeguarding</a>
        <a href="#sign-up">Sign-Up</a>
        <a href="#attendance">Check-In/Out</a>
        <a href="#logout">Logout</a>
        <button id="" class="active" alt="click to go to dashboard"><span>Dashboard</span><svg></svg></button>
    </div>

    <div class="container">
        <img src="" alt="pupils-img" class="pupils-img">

        <h1>Sign Up</h1>

        <label for="childFirstname"><b>First name of Child/Student</b></label>
        <input type="text" placeholder="Enter child's first name" name="childFirstname" required>

        <label for="childSurname"><b>Surname of Child/Student</b></label>
        <input type="text" placeholder="Enter child's surname" name="childSurname" required>

        <label for="birthday">Date of Birth</label>
        <input type="date" id="birthday" name="birthday" placeholder="Date of Birth" required>

        <button id="" class="active"><span>Search</span><svg></svg></button>
        <button id="" class="active"><span>Check-In</span><svg></svg></button>
        <button id="" class="active"><span>Check-Out</span><svg></svg></button>

        <div id=""><strong>Search Results</strong>
        <li></li>
        <li></li>
        <li></li>
        </div>
    </div>

    <footer>
        <div class="bottom-nav">
            <p>SaferBookings App | Copyright 2023</p>
            <p>
                <a href="#Facebook-img"></a>
                <a href="#Instagram-img"></a>
                <a href="#LinkedIn-img"></a>
                <a href="#Twitter-img"></a>
                <a href="#WhatsApp-img"></a>
                <a href="#Telegram-img"></a>
            </p>
        </div>
    </footer>
</form>