<form action="selection" method="post">
    <div class="top-nav">
        <img src="" alt="safer-bookings-img" class="logo">
        <a href="#admin">Admin/Safeguarding</a>
        <a href="#sign-up">Sign-Up</a>
        <a href="#attendance">Check-In/Out</a>
        <a href="#login">Login</a>
        <button id="" class="active" alt="click to go to dashboard"><span>Dashboard</span><svg></svg></button>
    </div>

    <div class="container">
        <img src="" alt="family-img" class="family-img">

        <h1>Staff Member</h1>

        <button id="" class="active"><span>Staff Member</span><svg></svg></button>

        <label for="employeeFirstname"><b>First name</b></label>
        <input type="text" placeholder="Enter your first name" name="employeeFirstname" required>

        <label for="employeeSurname"><b>Surname</b></label>
        <input type="text" placeholder="Enter your surname" name="employeeSurname" required>

        <label for="email">Email (Username is your email address):</label>
        <input type="email" id="" name="email" placeholder="Enter your email address">

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter your Password" name="psw" required>

        <label for="psw"><b>Re-enter Password</b></label>
        <input type="password" placeholder="Re-enter your Password" name="psw" required>
    </div>

    <footer>
        <div class="bottom-nav">
            <p>SaferBookings App | Copyright 2023</p>
            <p>
                <a href="#Facebook-img"></a>
                <a href="#Instagram-img"></a>
                <a href="#LinkedIn-img"></a>
                <a href="#Twitter-img"></a>
                <a href="#WhatsApp-img"></a>
                <a href="#Telegram-img"></a>
            </p>
        </div>
    </footer>
</form>