<form action="selection" method="post">
    <div class="top-nav">
        <img src="" alt="safer-bookings-img" class="logo">
        <a href="#admin">Admin/Safeguarding</a>
        <a href="#sign-up">Sign-Up</a>
        <a href="#attendance">Check-In/Out</a>
        <a href="#logout">Logout</a>
        <button id="" class="active" alt="click to go to dashboard"><span>Dashboard</span><svg></svg></button>
    </div>

    <div class="container">
        <img src="" alt="family-img" class="family-img">

        <h1>Sign-Up</h1>

        <div id=""><strong>Please select the type of person you wish to sign-up.</strong>

        <button id="" class="active"><span>Staff Member</span><svg></svg></button>
        <button id="" class="active"><span>Parent / Person of Responsibility</span><svg></svg></button>
        <button id="" class="active"><span>Child / Student</span><svg></svg></button>
        </div>
    </div>

    <footer>
        <div class="bottom-nav">
            <p>SaferBookings App | Copyright 2023</p>
            <p>
                <a href="#Facebook-img"></a>
                <a href="#Instagram-img"></a>
                <a href="#LinkedIn-img"></a>
                <a href="#Twitter-img"></a>
                <a href="#WhatsApp-img"></a>
                <a href="#Telegram-img"></a>
            </p>
        </div>
    </footer>
</form>