<form action="selection" method="post">
    <div class="top-nav">
        <img src="" alt="safer-bookings-img" class="logo">
        <a href="#admin">Admin/Safeguarding</a>
        <a href="#sign-up">Sign-Up</a>
        <a href="#attendance">Check-In/Out</a>
        <a href="#login">Login</a>
        <button id="" class="active" alt="click to go to dashboard"><span>Dashboard</span><svg></svg></button>
    </div>

    <div class="container">
        <img src="" alt="family-img" class="family-img">

        <h1>Parent / Person of Responsibility</h1>

        <button id="" class="active"><span>Parent / Person of Responsibility</span><svg></svg></button>

        <label for="adultFirstname"><b>First name</b></label>
        <input type="text" placeholder="Enter your first name" name="adultFirstname" required>

        <label for="adultSurname"><b>Surname</b></label>
        <input type="text" placeholder="Enter your surname" name="adultSurname" required>

        <address>
            <label for="address1"><b>First line of address</b></label>
            <input type="text" placeholder="First line of address" name="address1" required>
            <label for="address2"><b>Second line of address</b></label>
            <input type="text" placeholder="Second line of address" name="address2" required>
            <label for="town"><b>Town</b></label>
            <input type="text" placeholder="Town" name="town" required>
            <label for="county"><b>County</b></label>
            <input type="text" placeholder="County" name="county" required>
            <label for="postcode"><b>Postcode</b></label>
            <input type="text" placeholder="Postcode" name="postcode" required>
        </address>

        <label for="birthday">Date of Birth</label>
        <input type="date" id="birthday" name="birthday" placeholder="Date of Birth">

        <label for="email">Email (Username is your email address)</label>
        <input type="email" id="" name="email" placeholder="Enter your email address">

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter your Password" name="psw" required>

        <label for="psw"><b>Re-enter Password</b></label>
        <input type="password" placeholder="Re-enter your Password" name="psw" required>

        <button id="" class="active"><span>Sign-Up: Add Child/Student</span><svg></svg></button>
    </div>

    <footer>
        <div class="bottom-nav">
            <p>SaferBookings App | Copyright 2023</p>
            <p>
                <a href="#Facebook-img"></a>
                <a href="#Instagram-img"></a>
                <a href="#LinkedIn-img"></a>
                <a href="#Twitter-img"></a>
                <a href="#WhatsApp-img"></a>
                <a href="#Telegram-img"></a>
            </p>
        </div>
    </footer>
</form>