<form action="selection" method="post">
    <div class="top-nav">
        <img src="" alt="safer-bookings-img" class="logo">
        <a href="#admin">Admin/Safeguarding</a>
        <a href="#sign-up">Sign-Up</a>
        <a href="#attendance">Check-In/Out</a>
        <a href="#login">Login</a>
        <button id="" class="active" alt="click to go to dashboard"><span>Dashboard</span><svg></svg></button>
    </div>

    <div class="container">
        <img src="" alt="family-img" class="family-img">

        <h1>Child / Student</h1>

        <button id="" class="active"><span>Child/Student</span><svg></svg></button>

        <label for="adultSurname"><b>Search for Parent</b></label>
        <input type="text" placeholder="Surname" name="adultSurname" required>

        <label for="selectParent"></label>
        <select name="adultSurname" id="">
            <option value="adultSurname"><span>surname</span></option>
        </select>

        <label for="childFirstname"><b>First name of Child/Student</b></label>
        <input type="text" placeholder="Enter child's first name" name="childFirstname" required>

        <label for="childSurname"><b>Surname of Child/Student</b></label>
        <input type="text" placeholder="Enter child's surname" name="childSurname" required>

        <label for="birthday">Date of Birth</label>
        <input type="date" id="birthday" name="birthday" placeholder="Date of Birth" required>

        <div id="checkbox" aria-label="Neurodiversity Needs">
        <label for="adhd"><b>ADHD</b></label><br>
        <input type="checkbox" id="checkbox" name="checkbox" value="ADHD">
        <label for="autism"><b>Autism</b></label><br>
        <input type="checkbox" id="checkbox" name="checkbox" value="Austism">
        <label for="dyscalculia"><b>Dyscalculia</b></label><br>
        <input type="checkbox" id="checkbox" name="checkbox" value="Dyscalculia">
        <label for="dyslexia"><b>Dyslexia</b></label><br>
        <input type="checkbox" id="checkbox" name="checkbox" value="Dyslexia">
        <label for="dyspraxia"><b>Dyspraxia</b></label><br>
        <input type="checkbox" id="checkbox" name="checkbox" value="Dyspraxia">
        </div>

        <div id="food" aria-label="Dietary Requirements">
        <label for="peanut"><b>Peanut Allergy</b></label><br>
        <input type="checkbox" id="checkbox" name="checkbox" value="Peanut">
        <label for="dairy"><b>Dairy Allergy</b></label><br>
        <input type="checkbox" id="checkbox" name="checkbox" value="Dairy">
        <label for="vegetarian"><b>Vegetarian</b></label><br>
        <input type="checkbox" id="checkbox" name="checkbox" value="Vegetarian">
        <label for="halal"><b>Halal</b></label><br>
        <input type="checkbox" id="checkbox" name="checkbox" value="Halal">
        </div>

        <button id="" class="active"><span>Add Child/Student</span><svg></svg></button>
        <button id="" class="active"><span>Quit</span><svg></svg></button>
        <p You can add another child after clicking above></p>
    </div>

    <footer>
        <div class="bottom-nav">
            <p>SaferBookings App | Copyright 2023</p>
            <p>
                <a href="#Facebook-img"></a>
                <a href="#Instagram-img"></a>
                <a href="#LinkedIn-img"></a>
                <a href="#Twitter-img"></a>
                <a href="#WhatsApp-img"></a>
                <a href="#Telegram-img"></a>
            </p>
        </div>
    </footer>
</form>