<form>
    <div class="top-nav">
        <img src="" alt="safer-bookings-img" class="logo">
        <a href="#admin">Admin/Safeguarding</a>
        <a href="#sign-up">Sign-Up</a>
        <a href="#attendance">Check-In/Out</a>
        <a href="#logout">Logout</a>
        <button id="" class="active" alt="click to go to dashboard"><span>Dashboard</span></button>
    </div>

    <div class="adult-container" aria-label="Search for Parent">
        <img src="" alt="pupils-img" class="dashboard-img">

        <h1>Admin / Safeguarding</h1>

        <label for="adultFirstname"><b>First name</b></label>
        <input type="text" placeholder="Enter your first name" name="adultFirstname" required>

        <label for="adultSurname"><b>Surname</b></label>
        <input type="text" placeholder="Enter your surname" name="adultSurname" required>

        <button id="" class="active"><span>Search</span>
        <svg></svg>
        </button>

        <div id=""><strong>Search Results</strong>
        <li></li>
        <li></li>
        <li></li>

        <button id="" class="active"><span>Edit Selected</span>
        <svg></svg>
        </button>
        </div>
    </div>

    <div class="child-container" aria-label="Search for Child / Student">
      <label for="childFirstname"><b>First name</b></label>
        <input type="text" placeholder="Enter child's first name" name="childFirstname" required>

        <label for="childSurname"><b>Surname</b></label>
        <input type="text" placeholder="Enter child's surname" name="childSurname" required>

        <button id="" class="active"><span>Search</span>
        <svg></svg>
        </button>

        <div id=""><strong>Search Results</strong>
        <li></li>
        <li></li>
        <li></li>

        <button id="" class="active"><span>Edit Selected</span>
        <svg></svg>
        </button>
        </div>
    </div>

    <div class="sessions-container" aria-label="Search for Child / Student">
      <label for="childFirstname"><b>First name</b></label>
        <input type="text" placeholder="Enter child's first name" name="childFirstname" required>

        <label for="childSurname"><b>Surname</b></label>
        <input type="text" placeholder="Enter child's surname" name="childSurname" required>

        <button id="" class="active"><span>Search</span>
        <svg></svg>
        </button>

        <div id=""><strong>Search Results</strong>
        <li></li>
        <li></li>
        <li></li>

        <button id="" class="active"><span>Edit and Save Selected</span>
        <svg></svg>
        </button>
        </div>

        <button id="" class="active"><span>Add New Session</span>
        <svg></svg>
        </button>

        <div id=""><strong>Sessions Enrolled</strong>
        <li></li>
        <li></li>
        <li></li>
        </div>
    </div>

    
    <div class="behaviour-container" aria-label="Search for Child / Student">
     <label for="childFirstname"><b>First name</b></label>
        <input type="text" placeholder="Enter child's first name" name="childFirstname" required>

        <label for="childSurname"><b>Surname</b></label>
        <input type="text" placeholder="Enter child's surname" name="childSurname" required>

        <button id="" class="active"><span>Search</span>
        <svg></svg>
        </button>

        <div id=""><strong>Search Results</strong>
        <li></li>
        <li></li>
        <li></li>

        <button id="" class="active"><span>Edit and Save Selected</span>
        <svg></svg>
        </button>
        </div>

        <div id=""><strong>Behavioural Notes</strong>
        <input type="text" placeholder="Information relating to child / student's behaviour in class" required>
        </div>

        <div id=""><strong>Safeguarding Concerns</strong>
        <input type="text" placeholder="Injuries or risks to child / student's safety and well-being">
        </div>
    </div>

    <footer>
        <div class="bottom-nav">
            <p>SaferBookings App | Copyright 2023</p>
            <p>
                <a href="#Facebook-img"></a>
                <a href="#Instagram-img"></a>
                <a href="#LinkedIn-img"></a>
                <a href="#Twitter-img"></a>
                <a href="#WhatsApp-img"></a>
                <a href="#Telegram-img"></a>
            </p>
        </div>
    </footer>
</form>