<form>
    <div class="adult-container" aria-label="Search for Parent">
        <img src="" alt="pupils-img" class="dashboard-img">

        <h1>Admin / Safeguarding</h1>

        <label for="adultFirstname"><b>First name</b></label>
        <input type="text" placeholder="Enter your first name" name="adultFirstname" required>

        <label for="adultSurname"><b>Surname</b></label>
        <input type="text" placeholder="Enter your surname" name="adultSurname" required>

        <button id="" class="active"><span>Search</span>
        <svg></svg>
        </button>

        <div id=""><strong>Search Results</strong>
        <li></li>
        <li></li>
        <li></li>

        <button id="" class="active"><span>Edit Selected</span>
        <svg></svg>
        </button>
        </div>
    </div>

    <div class="child-container" aria-label="Search for Child / Student">
      <label for="childFirstname"><b>First name</b></label>
        <input type="text" placeholder="Enter child's first name" name="childFirstname" required>

        <label for="childSurname"><b>Surname</b></label>
        <input type="text" placeholder="Enter child's surname" name="childSurname" required>

        <button id="" class="active"><span>Search</span>
        <svg></svg>
        </button>

        <div id=""><strong>Search Results</strong>
        <li></li>
        <li></li>
        <li></li>

        <button id="" class="active"><span>Edit Selected</span>
        <svg></svg>
        </button>
        </div>
    </div>

    <div class="sessions-container" aria-label="Search for Child / Student">
      <label for="childFirstname"><b>First name</b></label>
        <input type="text" placeholder="Enter child's first name" name="childFirstname" required>

        <label for="childSurname"><b>Surname</b></label>
        <input type="text" placeholder="Enter child's surname" name="childSurname" required>

        <button id="" class="active"><span>Search</span>
        <svg></svg>
        </button>

        <div id=""><strong>Search Results</strong>
        <li></li>
        <li></li>
        <li></li>

        <button id="" class="active"><span>Edit and Save Selected</span>
        <svg></svg>
        </button>
        </div>

        <button id="" class="active"><span>Add New Session</span>
        <svg></svg>
        </button>

        <div id=""><strong>Sessions Enrolled</strong>
        <li></li>
        <li></li>
        <li></li>
        </div>
    </div>
    
    <div class="behaviour-container" aria-label="Search for Child / Student">
     <label for="childFirstname"><b>First name</b></label>
        <section id=""><strong>Behavioural Notes</strong>
        <input type="text" placeholder="Information relating to child / student's behaviour in class" required>
        </section>

        <section id=""><strong>Safeguarding Concerns</strong>
        <input type="text" placeholder="Injuries or risks to child / student's safety and well-being">
        </section>
    </div>

    <div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</form>