{{!-- <form>
    <div class="top-nav">
        <img src="" alt="safer-bookings-img" class="logo">
        <a href="#admin">Admin/Safeguarding</a>
        <a href="#sign-up">Sign-Up</a>
        <a href="#attendance">Check-in/out</a>
        <a href="#logout">Logout</a>
        <button id="" class="active" alt="click to go to dashboard"><span>Dashboard</span><svg></svg></button>
    </div>

    <div class="container">
        <img src="" alt="pupils-img" class="dashboard-img">

        <h1>Your Dashboard</h1>

        <button id="" class="active" aria-label="Username"><span>Change Password</span><svg></svg></button>
        <button id="" class="active" aria-label="E-mail"><span>Change E-mail Address</span><svg></svg></button>
        <img src="" aria-label="Avatar" alt="avatar-img" class="avatar">
    </div>

    <div class="bottom-container">
        <button id="" class="active"><span>Administration / Safeguarding</span><svg></svg></button>
        <button id="" class="active"><span>Sign-Up</span><svg></svg></button>
        <button id="" class="active"><span>Check-In/Out</span><svg></svg></button>
    </div>

    <footer>
        <div class="bottom-nav">
            <p>SaferBookings App | Copyright 2023</p>
            <p>
                <a href="#Facebook-img"></a>
                <a href="#Instagram-img"></a>
                <a href="#LinkedIn-img"></a>
                <a href="#Twitter-img"></a>
                <a href="#WhatsApp-img"></a>
                <a href="#Telegram-img"></a>
            </p>
        </div>
    </footer>
</form> --}}
<h1>Home page</h1>