<div class="d-flex justify-content-center align-items-center">
  <form class="signup-form">
    <h1 class="text-center mt-5">Sign In</h1>
    <div class="mb-2">
      <label class="sr-only" for="">Email Address</label>
      <input id="email" class="form-control" type="email" placeholder="Email Address" required autofocus>
    </div>
    <div class="mb-2">
      <label class="sr-only" for="">Password</label>
      <input id="password" class="form-control" type="password" placeholder="Password" required>
    </div>
    <div>
      <button id="sign-in" class="btn btn-primary btn-block" type="sumbit">Sign In</button>
    </div class="d-grid mb-3">
  </form>
</div>
<script src="/login.js"></script>