<form>
  <div class="top-nav">
  <img src="" alt="safer-bookings-img" class="logo">
  <a href="#admin">Admin/Safeguarding</a>
  <a href="#sign-up">Sign-Up</a>
  <a href="#attendance">Check-In/Out</a>
  <a href="#login">Login</a>
  <button id="" class="active" alt="click to go to dashboard"><span>Dashboard</span><svg></svg></button>
  </div>

  <div class="container">
    <label for="email"><b>email</b></label>
    <input id="email" type="text" placeholder="Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input id="password" type="password" placeholder="Password" name="psw" required>

    <button id="sign-in" class="active" alt="click to sign in"><span>Sign In</span><svg></svg></button>

    <a href="#forgot-password">Forgot Password?</a>
  </div>

  <footer>
    <div class="bottom-nav">
      <p>SaferBookings App | Copyright 2023</p>
      <p>
        <a href="#Facebook-img"></a>
        <a href="#Instagram-img"></a>
        <a href="#LinkedIn-img"></a>
        <a href="#Twitter-img"></a>
        <a href="#WhatsApp-img"></a>
        <a href="#Telegram-img"></a>
      </p>
    </div>
  </footer>
</form>
<script src="/login.js"></script>