<form>
  <div class="container">
    <label for="email"><b>email</b></label>
    <input id="email" type="text" placeholder="Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input id="password" type="password" placeholder="Password" name="psw" required>

    <button id="sign-in" class="active" alt="click to sign in"><span>Sign In</span><svg></svg></button>

    <a href="#forgot-password">Forgot Password?</a>
  </div>

</form>
<script src="/login.js"></script>