<form>
    <div class="container">
        <img src="" alt="family-img" class="family-img">

        <h1>Sign-Up</h1>

        <div id=""><strong>Please select the type of person you wish to sign-up.</strong>

        <button id="" class="active"><span>Staff Member</span><svg></svg></button>
        <button id="" class="active"><span>Parent / Person of Responsibility</span><svg></svg></button>
        <button id="" class="active"><span>Child / Student</span><svg></svg></button>
        </div>
    </div>
</form>