<form>
    <div class="container">
        <img src="" alt="pupils-img" class="dashboard-img">

        <h1>Your Dashboard</h1>

        <button id="" class="active" aria-label="Username"><span>Change Password</span><svg></svg></button>
        <button id="" class="active" aria-label="E-mail"><span>Change E-mail Address</span><svg></svg></button>
        <img src="" aria-label="Avatar" alt="avatar-img" class="avatar">
    </div>

    <div class="bottom-container">
        <button id="" class="active"><span>Administration / Safeguarding</span><svg></svg></button>
        <button id="" class="active"><span>Sign-Up</span><svg></svg></button>
        <button id="" class="active"><span>Check-In/Out</span><svg></svg></button>
    </div>
</form>
{{!-- <h1>Home page</h1> --}}